html {
	font-size: 0px;
}

.game-container {
	width: 200px;
	height: 200px;
	margin-left:auto;
	margin-right: auto;
	border: 1px solid #eee;
	margin-top: 30px;
}

.click-box {
	cursor: pointer;
	box-sizing: border-box;
	background: no-repeat center;
	background-image: url("empty.png");
	background-size: 100% 100%;
	width: 33.33%;
	height: 33.33%;
	display: inline-block;
	border: 1px solid #eee;
}